html
    head
        title What is this
        script(src='/static/bundle.js')
        script(src='/static/jspsych/jspsych.js')
        script(src='/static/jspsych/plugins/jspsych-text.js')
        script(src='/static/developing.js')
    body
        h1 A super nice webpage!
        a(href='/auth/google') click this to login with google
        div#jspsychTarget